<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emobiity | Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="wrapper p-0">
        <div class="login">
            <div class="login-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <h1 class="text-center">Sign In</h1>
                    <div class="text-white text-opacity-50 text-center mb-4">
                        For your protection, please verify your identity.
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address <span class="text-danger">*</span></label>
                        <input id="email" type="text" class="form-control form-control-lg" name="username" value=""
                            placeholder="E-Mail Addrese" required="" autocomplete="email" autofocus="">
                    </div>

                    <div class="mb-3">
                        <div class="d-flex">
                            <label class="form-label">Password <span class="text-danger">*</span></label>
                        </div>
                        <input id="password" type="password" class="form-control form-control-lg" name="password"
                            placeholder="Password" required="" autocomplete="current-password">
                    </div>

                    <button type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3">Sign
                        In</button>
                    <p>Click here to create an account</p>
                    <a href="{% url 'create_user' %}" type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3">Sign
                        Up</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>